
.title {
    text-align : center;
    font-weight : bold;
}

.mew-form {
   width :  50%;
   margin : 0 auto;
   padding : 25px;
}

.button-primary {
    border-radius  : 8%;
} 

.loading {
    text-align : center;
}

img {
    width : 50%;
    
}